@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.brand{
    display: flex;
}
.nav-tittle{
    font-weight: 700;
    font-size: 32px;
}
.nav-links>a{
    text-decoration: none;
    margin-left: 32px;
    font-size: 20px;
    font-weight:500;
}
.nav-btn{
    padding: 15px 25px;
    color: white;
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
    font-size: 20px;
}
.nav-icon{
    display: none; 
}
.home{
color: #FEA301;
}
.about{
color: #01ACFD;
}
.facilities{
color: #05D4DF;
}
.admission{
color: #5D58EF;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.banner-content{
    gap: 25px;
}
.banner-tittle{
    font-size: 56px;
    font-weight: 700;
}
.banner-text{
    font-size: 20px;
}
.banner-img{
    width: 100%;
}
.btn-primary{
    padding: 10px 25px;
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
}
.main{
    background-image: url("../assets/bg.png");
    /* background: linear-gradient(to top,#FFF4DC,#FFFFFF 40%);  */
    margin-top:60px 0 0 0;
}
.std{
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    margin: 0 auto;
}
.curriculum{
    width: 95%;
}
.curriculum-card{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    margin: 80px auto 80px auto;
}
.curriculum-card>div{
    margin-left: 28px;
    text-align: center;
    border-radius: 18px;
    padding: 30px;
}
.curriculum-box{
    padding:20px;
}
.box-1{
    background: linear-gradient(to bottom,#DEF5FF,#FFFFFF 40%);
    border: 1px solid #64C8FF;
}
.box-2{
    background: linear-gradient(to bottom,#FFF4DC,#FFFFFF 40%);
    border: 1px solid #FFF4DC;
}
.box-3{
    background: linear-gradient(to bottom,#EEE1FF,#FFFFFF 40%);
    border: 1px solid #EEE1FF;
}
.curriculum-box-head{
    color: #202020;
    font-size: 24px;
    font-weight: 700;
}
.gray-txt{
    color: #808080;
}
.curriculum-readmore{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.clr-1{
    color: #64C8FF;
}
.clr-2{
    color: #F0AA00;
}
.clr-3{
    color: #8700FF;
}

.arrow-icon{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 24px;
    color: #FEA301;
    border-radius: 30px;
    gap: 8px;
}
.arrow-icon:hover{
    color: #FFF4DC;
}

.story-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: 80px auto 80px auto;
    padding-bottom: 50px;
    gap: 10px;
}
.story-container>div{
    background-color:whitesmoke;
    border: none;
    border-radius: 16px;
    /* width: 290px;
    height: 300px; */
}
#box1{
    grid-row: span 2;
}
.story-txt{
    color: #666666;
}
.story-tittle{
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 20px;
}
.story-img{
    border-radius: 16px 16px 0 0;
    width: 100%;
}
.story-img1{
    border-radius: 16px 16px 0 0 ;
    
}
/* .story-box{
    height: 290px;
    width: 280px; 
} */
.story-btn{
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 47px;
    color: white;
    position: relative;
    top: -25px;
}
.big{
    left: 100px;
}
.small{
    left: 50px;
}
.story-btn-clr-1{
    background-color: #95B226;
}
.story-btn-clr-2{
    background-color: #3CD8E8;
}
.story-btn-clr-3{
    background-color: #5D58F0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.Hide{
    display: none;
}
.footer{
    background-color: #01ACFD;
    padding: 150px;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    justify-content: center;
}

.footer-brand{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}
.footer-tittle{
    font-weight: 700;
    font-size: 42px;
}
.footer-1-txt{
    font-size: 20px;
}
.footer-2{
    position: relative;
    left: 30px;
}

.footer-about{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 50px;
}
.footer-links{
    display: grid;
    gap: 20px;
    font-size: 20px;
    font-weight:500;
}
.footer-links>a{
    text-decoration: none;
    color:white;
}
@media screen and (max-width:576px) {
    .hide{
        display:none;
    }
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #FEA301;
    }
    .nav-icon{
        display: block;
        font-size: 30px;
    }
    .brand-logo{
        margin-bottom:20px ;
    }
    .banner{
        flex-direction: column-reverse;
        margin: 10px 10px;
    }
    .banner-content{
        text-align:center;
    }
    .curriculum-card{
        width: 92%;
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .story-section{
        margin: 0 auto;
    }
    .story-container{
        grid-template-columns: repeat(2,1fr);
    }
    .story-btn{
        left: 25px;
    }
    /* .center{
        left: 200px;
        bottom: 40px;
    } */
    .Hide{
        display: block;
    }
    .footer{
        grid-template-columns: repeat(1,1fr);
    }
}